<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="http://localhost/doHomework/css/buttonhover.css">

</head>
<body>
<div id="web_bg" style="background-image: url(http://localhost/doHomework/img/1.jpg);"></div>

    <div class="main">
        <div class="container">
            <a href="http://localhost/doHomework/stuLogin" class="btn-1">学生登陆</a>
            <a href="http://localhost/doHomework/teacherLogin" class="btn-2">教师登陆</a>
            <a href="http://localhost/doHomework/adminLogin" class="btn-5"><span>管理员登陆</span></a>
        </div>
     </div>   
    </div>
</body>

</html>