<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.mapper.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.helper.pojo.Notice">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="n_id" jdbcType="BIGINT" property="nId" />
    <result column="n_desc" jdbcType="VARCHAR" property="nDesc" />
    <result column="a_id" jdbcType="BIGINT" property="aId" />
  </resultMap>
</mapper>